<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Buy | Sell</h3>
          </div>
          <div class="list-group">
            <a href='#' class="list-group-item" ng-repeat="summaryItem in summaryCtrl.summaryCollection | filter:{category: 'BuySell'}" ng-click="summaryCtrl.getStoriesByBuySell(summaryItem)">{{summaryItem.name}} <span class="badge">{{summaryItem.count}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Companies</h3>
          </div>
          <div class="list-group">
            <a href='#' class="list-group-item" ng-repeat="summaryItem in summaryCtrl.summaryCollection | filter:{category: 'Companies'}" ng-click="summaryCtrl.getStoriesByCompany(summaryItem)">{{summaryItem.name}} <span class="badge">{{summaryItem.count}}</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Keyword Watchlist</h3>
          </div>
          <div class="list-group">
            <a href='#' class="list-group-item" ng-repeat="summaryItem in summaryCtrl.summaryCollection | filter:{category: 'Keywords'}" ng-click="summaryCtrl.getStoriesByKeyword(summaryItem)">{{summaryItem.name}} <span class="badge">{{summaryItem.count}}</span></a>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{summaryCtrl.filterTitle}}</h3>
      </div>
      <div class="list-group" style="height: 500px; overflow-y: scroll;">
        <a ng-href='{{summaryItem.link}}' class="list-group-item" ng-repeat="summaryItem in summaryCtrl.filterCollection">
          <h5 class="list-group-item-heading">{{summaryItem.title}}</h5>
          <span class="small" ng-bind="summaryCtrl.getFuzzyDate(summaryItem.pubdate)"></span> | <span class="small">{{summaryItem.pubdate}}</span>
          <p class="list-group-item-text small">{{summaryItem.summary | limitTo: 180}}</p>
        </a>
      </div>      
    </div>
  </div>
</div>